@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron&family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}


button,
input,
textarea,
select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img, video, canvas, svg {
    // max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

// Variables 
$green-color: #6cff8d;
$green-blue-color: #00A9E9;
$dark-green-color: #6cff8c7a;
$red-color: #f44336;
$blue-color: #2169f3;
$yellow-color: #ffea5c;
$darkish-blue: #060b11;
$box-shadow-blue1: rgba(31, 38, 135, 0.27);
$box-shadow-blue2: rgba(31, 38, 135, 0.67);
$accent-blue-color: #4299e1;
$accent-dark-blue-color: #2a4365;
$background-light-blue: #edf2f7;
    
/*---Predefined classes-----*/
.section {
    padding: 1rem;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 5rem;
    z-index: 1;
    @media (min-width: 650px) {
        padding: 5rem;
    }

    &__header {
        &-title {
            font-weight: 400;
            font-size: 17px;
            color: #666;

            -webkit-transition-property: opacity;
            -o-transition-property: opacity;
            transition-property: opacity;
            -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
            -o-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
            transition-timing-function: cubic-bezier(.455,.03,.515,.955);
            -webkit-transition-duration: .1s;
            -o-transition-duration: .1s;
            transition-duration: .1s;
            opacity: 0;    
            
            &[data-has-intersected=true] {
                -webkit-transition-duration: .3s;
                -o-transition-duration: .3s;
                transition-duration: .3s;
                opacity: 1;
            }   
        }

        &-subtitle {
            font-size: 27px;
            font-weight: 700;
        }
    }
}