@import "./base.scss";
.reviews {
    position: relative;
    background: $darkish-blue;
    color: #fff;
    display: none;

    &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        .me {
            position: relative;
            background: #28316013;
            box-shadow: 0 8px 32px 0 $box-shadow-blue1;

            &__curve {
                position: absolute;
                top: -10px;
                left: 20px;
                width: 30%;
                height: 120%;
                border-left: 2px solid $red-color;
                border-radius: 50%;
                transform: rotate(-20deg);
                box-shadow: 0 8px 32px 0 $box-shadow-blue2;
            }

            &__infos {
                display: flex;
                align-items: center;
                gap: 15px;
                font-size: 17px;
                font-family: sans-serif;
            }
                
            &__img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border-right: 2px solid $red-color;
                object-fit: cover;
            }

            &__col {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-right: 1.2rem;
            }

            &__info {
                display: flex;
                align-items: center;
                gap: 10px;

                & svg {
                    width: 20px;
                    height: 20px;
                    fill: #fff;
                }
            }
        }
    }
}

.swiper__wrapper {
    padding: 2rem 0;
}

.swiper {
    min-height: 500px;
}

.review {
    position: relative;
    display: flex;
    font-size: 16px;
    padding: 5px;

    &__card {
        position: relative;
        width: 100%;
        padding: 2rem 0;
        display: flex;

        @media (max-width: 650px) {
            & {
                font-size: 18px;
                font-family: sans-serif;
            }
        }
    }

    & svg {
        width: 30px;
        fill: $red-color;
        height: max-content;

        @media (min-width: 500px) {
            & {
                width: 40px;
            }
        }
    }
    
    &__topborder {
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
    }

    &__text {
        user-select: none;
        span {
            font-family: sans-serif;
            font-size: 30px;
            font-weight: 600;
            color: $red-color;
        }
    }

    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 35px;
        
        @media (min-width: 400px) {
            & {
                width: 150px;
                height: 150px;
            }
        }
    }

    &__profile {
        position: absolute;
        left: 5rem;
        bottom: -2rem;
        display: flex;
        flex-direction: column;
        font-family: serif;
        font-size: 17px;
    }
}

.swiper-slide {
    filter: blur(2px) !important;
    transform: scale(0.8);
    transition: all 0.2s ease;
}


.swiper-slide-active {
    filter: blur(0) !important;
    transform: scale(1);
}

.swiper__tools {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 6rem;
    padding: 0 4rem 0 2rem;
    
    @media (min-width: 1056px) {
        & {
            flex-direction: row;
        }
    }
}

.swiper__buttons {
    display: flex;
    button {
        position: relative;
        background: transparent;
        padding: 1rem 3rem;
        border-radius: 50px;
        border: 1px solid #fff;
        margin-right: 2rem;
        user-select: none;

        &:after {
            display: none;
        }

        & img {
            filter: invert(100%);
            width: 10px;
            height: 10px;
        }

        &:first-of-type {
            transform: rotate(180deg);
        }

        &:hover {
            background: #ffffff21;
        }
    }
}

.swiper-pagination {
    position: relative !important;
    display: none !important;

    @media (min-width: 807px) {
        & {
            display: block !important;
        }
    }
}

.swiper-pagination-bullet {
    width: 35px !important;
    height: 4px !important;
    border-radius: 50px !important;
    background-color: #fff !important;
}

.swiper-pagination-bullet-active {
    width: 70px !important;
}